@import 'tailwindcss';
@reference "tailwindcss";

:root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
}
html {
	font-family: 'Barlow', sans-serif;
	@apply h-full;
}

body {
	@apply h-full overflow-x-hidden leading-loose tracking-wide text-neutral-900;
	-webkit-font-smoothing: antialiased;
}

.container {
	@apply mx-auto px-6;
}

::selection {
	@apply bg-black text-white;
}

h1,
h2,
h3,
h4,
h5 {
	@apply mb-[1em] !font-light uppercase;
}

h1 {
	@apply text-3xl font-bold text-black;
}

h2 {
	@apply text-xl font-bold text-black;
}

h3 {
	@apply text-lg font-bold text-black;
}

h4 {
	@apply text-sm font-bold text-black;
}

h5 {
	@apply font-bold text-black;
}

strong,
b {
	@apply font-medium;
}

.btn {
	@apply inline-flex items-center justify-center rounded border px-5 py-3 font-medium transition-colors;

	&:hover {
		@apply bg-slate-100;
	}
}

nav a {
	@apply uppercase no-underline;
}

a {
	@apply underline;
}

.body-font {
	font-family: 'Barlow', sans-serif;
}
