---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Ton Lamper - 404 error">
	<div class="flex h-full grow items-center justify-center">
		<div>
			<h1 class="mb-6">404 error</h1>
			<p class="mb-6">Deze pagina kan niet gevonden worden...</p>

			<a href="/" class="inline-block rounded-sm border p-3">Navigeer naar homepage</a>
		</div>
	</div>
</Layout>
