---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Ton Lamper - Biografie">
	<div class="container-narrow">
		<h1>Biografie</h1>

		<table>
			<tbody>
				<tr>
					<td>1987/88</td>
					<td>3de Biënnale voor Grafiek, Museum for Fine Arts, Taipei, Taiwan.</td>
				</tr>
				<tr>
					<td>1991</td>
					<td>Project Tijdsbeeld, Gevangentoren, Vlissingen.</td>
				</tr>
				<tr>
					<td>1991/92</td>
					<td>Project Metamorfose, Galerie van Aalst, Biest–Houtakker.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Galerie de Hoekweide, Wolphaartsdijk.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Museum Elisabethweeshuis, Culemborg.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Galerie Gaudi, Landgraaf.</td>
				</tr>
				<tr>
					<td>1992</td>
					<td>Delen = vermenigvuldigen, Bijbels Museum, Amsterdam.</td>
				</tr>
				<tr>
					<td>1993</td>
					<td>2de Kochi International Triennial Exhibition of Prints,</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Ino–cho Paper Museum, Kochi–ken, Japan.</td>
				</tr>
				<tr>
					<td>1993</td>
					<td>Provinciale Grafiekmap II, Zeeland.</td>
				</tr>
				<tr>
					<td>1994</td>
					<td>Project Saga: Galerie Woppie’s Deel, Gramsbergen en Galerie Gaudi, Landgraaf.</td>
				</tr>
				<tr>
					<td>1995</td>
					<td>Project Saga: Atelier Margot, Eindhoven en Galerie Ateliers–Driebergen.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kostuums: Oidipous in Kolonnos – Hugo Claus.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Nominatie Elektra: categorie kostuumontwerp, ZCA.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Decor: Caligula –Albert Camus, Minitheater, Middelburg.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Eervolle vermelding: Noordlimburgse Industrieprijs voor Grafiek, Neerpelt, Belgiè.</td
					>
				</tr>
				<tr>
					<td>1996</td>
					<td>Eervolle vermelding: Kwak &amp; van Daalen &amp; Ronday Grafiekprijs, Zaandam.</td>
				</tr>
				<tr>
					<td>1998</td>
					<td>Kunstuitwisseling Zeeland –– Hongarije:</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Museum voor Noord– en Zuid–Beveland, Goes.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Debrecen, Hongarije.</td>
				</tr>
				<tr>
					<td>1999</td>
					<td>Decor en kostuums: opera Dido &amp; Aeneas – Henry Purcell.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Uitgevoerd te Kloetinge, Middelburg en Zierikzee.</td>
				</tr>
				<tr>
					<td>2000</td>
					<td>5 jaar Kwak &amp; van Daalen &amp; Ronday Grafiekprijs, Kunstcentrum Zaandam.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Elektra: kostuumontwerp Dido &amp; Aeneas, ZCA.</td>
				</tr>
				<tr>
					<td>2001</td>
					<td>Stichting Int. Heyderadey – Tongerlohuys, Roosendaal.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Wandschildering: Raad voor de Kinderbescherming, Middelburg.</td>
				</tr>
				<tr>
					<td>2002</td>
					<td>Grafiekwinkel Inkt, Den Haag.</td>
				</tr>
				<tr>
					<td>2003</td>
					<td>WCT kunstroute: Travalje met zinken paard, ‘s–Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Galerij van het Fulcotheater, IJsselstein.</td>
				</tr>
				<tr>
					<td>2004</td>
					<td>Biënnale Prent.nu, Loods 6, KNSM–eiland, Amsterdam.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Grafiekwinkel INKT, Den Haag.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Zeeuwse grafische kunstenaars, theater Purmaryn, Purmerend.</td>
				</tr>
				<tr>
					<td>2005</td>
					<td>Zomertentoonstelling Goes 600 jaar.</td>
				</tr>
				<tr>
					<td>2006</td>
					<td>Les Jardins Artistique de Drulon , Loye–sur–Arnon, Frankrijk</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Deelname 1st International Colony of Artists, Debrecen, Hongarije.</td>
				</tr>
				<tr>
					<td>2007</td>
					<td>Galerie Sjoch, Beetsterzwaag.</td>
				</tr>
				<tr>
					<td>2008</td>
					<td>CBK kunstuitleen De Bevelanden, Goes.</td>
				</tr>
				<tr>
					<td>2009</td>
					<td>CBK Dag van de Kunstuitleen, Middelburg/Goes.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Beeldentuin/atelier De Keet, Zevenbergen.</td>
				</tr>
				<tr>
					<td>2010</td>
					<td
						>Expositie met cursisten grafiek Kunsteducatie Theo van Doesburgcentrum, Vlissingen.</td
					>
				</tr>
				<tr>
					<td>2011</td>
					<td>24. Deutsch–Niederländische Grafikbörse, Borken, Duitsland.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kunstschouw, Westerschouwen.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kunst – en natuurroute, Wemeldinge.</td>
				</tr>
				<tr>
					<td>2012</td>
					<td>Een Bunder Kunst, ‘s–Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Galerie De Verzameling, Westervoort.</td>
				</tr>
				<tr>
					<td>2013</td>
					<td
						>Linolschitt Heute IX, Städtische Galerie: Grafikpreis der Stadt Bietigheim–Bissingen.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Macht en Pracht, een Bunder Kunst, ‘s–Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>2014</td>
					<td>Presentatie Kunstruimte W45, Goes.</td>
				</tr>
				<tr>
					<td>2015</td>
					<td>Porta, blijvend ruimtelijk object op De Bunder, ‘s-Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>2016</td>
					<td
						>Beeld: Rie maer op de torens ( locatie Oude Rijksweg/Arendstraat ) in opdracht van de
						Gemeente Goes en de Dorpsraad te ‘s-Heer Arendskerke.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td
						>Galerie de Osseberg: Expositie Grafisch verbeeld, in het kader van de maand van de
						grafiek.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Galerie T, Middelburg. </td>
				</tr>
				<tr>
					<td>2017</td>
					<td
						>Expositie: Het geheim van de ets. Ton Lamper en cursisten. Boekhandel ‘t Spui,
						Vlissingen.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Metamorphosen, serie linoleumsneden. Boekhandel De Drvkkery, Middelburg</td>
				</tr>
				<tr>
					<td>2018</td>
					<td>Beestenboel, dieren in de Zeeuwse Kunst, CBK Middelburg.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Een Bunder Tijd, ‘s-Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td
						>Lichtplan + enscenering Die Schöpfung-Joseph Hayden concert Vlissingse
						Oratoriumvereniging Sint Jacobskerk Vlissingen</td
					>
				</tr>
				<tr>
					<td>2019</td>
					<td>Kunstschouw, Ellemeet.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Een Bunder Follies, ‘s-Heer Arendskerke.</td>
				</tr>
				<tr>
					<td>2020</td>
					<td>Vlaggenproject in Goese Meer: Laat maar waaien #LOODS32</td>
				</tr>
				<tr>
					<td>2021</td>
					<td
						>Boulevard van schoonheid en troost, Goes. 9 juli tot 9 september. Initiatief van
						#LOODS32, decreet, Galerie van den Berge.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td
						>Kunstkijk, Goeree-Overflakkee. 5 tot 8 augustus. Hotel Restaurant “Lely”, Kaai 14, 3255
						AG Oude-Tonge.</td
					>
				</tr>
				<tr>
					<td>2022</td>
					<td>Galerie SmithArt, Singelstraat 13, Middelburg.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Panorama Walcheren, OLVkerk, Vlissingen.</td>
				</tr>
				<tr>
					<td>2023</td>
					<td
						>Expositie: ‘Nooit meer een ramp als in 1953’ – Open Call Watersnoodmuseum Ouwerkerk.</td
					>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kunstschouw, Jacobuskerk Renesse.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Een Bunder Kunst: ‘Taal en teken’. </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kunstuitleen De Bevelanden Goes. </td>
				</tr>
				<tr>
					<td>2024</td>
					<td>
						Kinderkunstweek: Van letter tot handtekening – de taal van kunst. CBK, Balans 17,
						Middelburg: 3 maart t/m 19 april.
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Expositie Geworteld. Atelier CS2, Stationsplein 2, Rijen: 6 t/m 28 april. </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Kunstkijk Goeree-Overflakkee. Battenoord 13, Nieuwe-Tonge: 9 t/m 12 mei. </td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						Project Cultuurcompagnon, initiatief Cultuurkwadraat samenwerking met graficus Burhan
						Saleh, gevlucht uit Irak.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</Layout>

<style>
	@reference "tailwindcss";
	table {
		@apply border-0;
	}

	td {
		@apply p-2;
	}

	tr:nth-child(odd) {
		@apply bg-gray-100;
	}
</style>
