---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Ton Lamper - Biografie">
	<p>
		Tot 2022 werkzaam in het voortgezet onderwijs als docent beeldende vorming aan het Ostrea Lyceum
		(vwo) te Goes.
	</p>

	<p>
		Docent cursus Etsen voor volwassenen in Goes en Middelburg. Workshops hoogdruk en/of diepdruk op
		aanvraag voor kleine groepen jong en oud.
	</p>

	<p>
		Centraal thema in mijn beeldend werk is: verzamelen en de verzameling. Figuratieve elementen,
		archaïsche motieven en andere verwijzingen naar de kunst- en cultuurhistorie, worden
		samengebracht met abstracte vormen. Een reservoir van beelden waarin grote contrasten te vinden.
		Een soort collectief geheugen waarbinnen talloze combinaties en associaties mogelijk zijn. De
		mensfiguur vormt één van de belangrijkste onderwerpen. Uit de soms filmisch aandoende
		afbeeldingen blijkt de fascinatie voor de menselijke anatomie en bewegingen van het lichaam. De
		opeenstapeling van beelden kan men vergelijken met de beelden die ons door de moderne media in
		hoog tempo worden gepresenteerd. Een ieder fixeert uit dat grote aanbod van beelden die zaken
		die hem of haar boeien. Net als in de media confronteer ik de toeschouwers met een spel van
		verschillende, soms sterk contrasterende beelden. Verschillende opvattingen over kunst en
		tegenstellingen in de kunst: kunst als een plat vlak met kleuren en vormen of als suggestie van
		een ruimte of ruimtelijkheid, abstract tegenover figuratief, picturaal tegenover lineair en de
		toepassing van zelfbedachte beelden in combinatie met bestaand beeldmateriaal, worden ondanks de
		sterke contrasten verwerkt tot een eenheid.
	</p>

	<p>
		In veel van mijn grafisch werk combineer ik diverse technieken zoals: de lijnets, kleurenets,
		kartondruk, linoleumsnede en houtsnede. Door de combinatie van verschillende grafische
		technieken is het afdrukken van het werk tamelijk ingewikkeld. Meerdere drukgangen zijn
		noodzakelijk voor het uiteindelijke resultaat. Naast etsen maak ik ook linoleumsneden. Deze druk
		ik af op Tosa-Shoji papier, een Japans rijstpapier. Druktechnisch is hoogdruk minder
		ingewikkeld. De beeldopbouw is daardoor eenvoudiger en helderder. Het vestigt de aandacht van de
		toeschouwer nadrukkelijker op de dubbelzinnigheid en contrasten tussen de beelden. Het laatste
		werk bevat elementen die verwijzen naar de klassieke mythologie.
	</p>

	<p>
		In mijn schilderijen leidt het verzamelen van beelden tot collageachtige effecten. Losse
		beeldfragmenten naast en door elkaar, waarbij ook het ontstaan van een afbeelding van tekening
		tot schilderij zichtbaar wordt, materie wordt beeld.
	</p>

	<p>
		Het materiaal zink en de aangetaste huid van etsplaten zijn aanleiding geweest om deze toe te
		passen in ruimtelijke constructies. Veel objecten zijn ontstaan uit een combinatie van etsplaten
		met verzamelde voorwerpen en materialen.
	</p>
</Layout>
