---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Ton Lamper - Contact">
	<div class="flex flex-col gap-12 sm:flex-row">
		<div class="hidden w-1/2 flex-col items-center justify-center sm:flex">
			<img src="/images/flora-600x640.jpg" width="400" height="400" alt="" />
		</div>
		<div class="w-1/2">
			<h1>Contact</h1>
			<p>Stelt u mij een vraag en ik zal u zo spoedig mogelijk te woord staan.</p>

			<p>
				<strong>Ton Lamper</strong><br />
				Vermetstraat 31<br />
				4458 BA ’s Heer Arendskerke
			</p>

			Tel: <a href="tel:0113561841">0113-561841</a><br />
			Mobiel: <a href="tel:0610521843">06-10521843</a><br />
			Email: <a href="mailto:tonlamper@zeelandnet.nl">tonlamper@zeelandnet.nl</a>
		</div>
	</div>
</Layout>

<style>
	p {
		margin-bottom: 1em;
	}

	a {
		color: black;
	}
</style>
