---
import Layout from '@layouts/Layout.astro'
import CourseCard from '@components/CourseCard.astro'
---

<Layout title="Ton Lamper - Cursussen">
	<h1>Cursussen</h1>

	<p>Cursus Etsen volgen? Etsen maken en afdrukken...</p>

	<hr class="my-9" />

	<div class="grid gap-3 sm:grid-cols-2">
		<CourseCard
			title="Cursus Etsen (Middelburg)"
			datum="Wekelijks van september tot april"
			lessen="25 lessen van elk 3 uur"
			tijd="Maandag van 14:00 tot 17:00"
			periode="16 september 2025 tot april 2026. Uitgezonderd schoolvakanties."
			locatie="Cultuurhuis Kuiperspoort 18 te Middelburg"
			href="https://www.cultuurhuis-kuiperspoort.nl/"
			hrefText="Aanmelden"
		/>

		<CourseCard
			title="Workshop hoogdruk of diepdruk"
			extraInfo="Voor kleine groepen van jong tot oud."
			datum=""
			lessen="Maximaal 15 personen"
			tijd="2 uur"
			periode="In overleg"
			locatie="In overleg"
			href="mailto:tonlamper@zeelandnet.nl?subject=Interesse cursus&body=Graag zou ik meer informatie willen ontvangen over een cursus hoog of diepdruk."
			hrefText="Neem contact op"
		/>
	</div>
</Layout>
