---
import Layout from '@layouts/Layout.astro'
import ExpositionCard from '@components/ExpositionCard.astro'
---

<Layout title="Ton Lamper - Exposities">
	<div>
		<h1>Exposities</h1>
	</div>

	<span>Op dit moment zijn er geen exposities...</span>
</Layout>
