---
import Layout from '@layouts/Layout.astro'
import ExpositionCard from '../components/ExpositionCard.astro'
---

<Layout title="Ton Lamper - Exposities">
	<div>
		<h1>Exposities</h1>
	</div>

	<ExpositionCard
		title="Expositie in het Grafisch Atelier Alkmaar"
		location="Doelenstraat 23, 1811 KX Alkmaar"
		date="7 december 2025 t/m 20 januari 2026 ma. t/m vr. 10 - 17"
		linkUrl="https://www.grafischatelieralkmaar.nl"
		linkText="Meer informatie"
	/>
</Layout>
