---
import Layout from '@layouts/Layout.astro'
import ExpositionCard from '../components/ExpositionCard.astro'
---

<Layout title="Ton Lamper - Exposities">
	<div>
		<h1>Exposities</h1>
	</div>

	<ExpositionCard
		imageSrc="/images/exposities/steen-glas-2025.webp"
		imageAlt="Steen & Glas Expositie"
		imageWidth={300}
		imageHeight={400}
		title="Expositie Steen & Glas"
		location="Grote of Maria Magdalenakerk, Goes"
		date="8 juli t/m 17 augustus 2025"
		description="Installatie Lucet in Luce - Ton Lamper. De installatie bestaat uit ruimtelijke objecten. De objecten zijn gemaakt uit zinken etsplaten, de platen zijn gefiguurzaagd en beschilderd. Centraal in deze installatie staat de torenachtige constructie Migdal 2025, waarin verwezen wordt naar Maria Magdalena. Samen met de andere objecten is een haast sacrale opstelling ontstaan, geplaatst in het licht in de zuidwesthoek van de kerk. Licht brengt extra glans en schittering. Een verwijzing naar de uitspraken van Abt Suger in de kathedraal van Saint-Denis (ca. 1100), de plek waar de Gotiek is ontstaan. Deze installatie is een onderdeel van de expositie Steen & Glas/ IT'S IN IT. Nu te zien in de Grote of Maria Magdalenakerk, Singelstraat 21 te Goes, de expositie is te bezichtigen t/m 17 augustus van dinsdag t/m zaterdag van 13 – 16 u. Extra openingstijden en activiteiten, zie website: www.mariamagdalenagoes.nl"
		linkUrl="https://mariamagdalenagoes.nl/"
		linkText="Meer informatie"
	/>

	<ExpositionCard
		title="Expositie in het Grafisch Atelier Alkmaar"
		location="Doelenstraat 23, 1811 KX Alkmaar"
		date="7 december 2025 t/m 27 januari 2026 ma. t/m vr. 10 - 17"
		linkUrl="https://www.grafischatelieralkmaar.nl"
		linkText="Meer informatie"
	/>
</Layout>
