---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Ton Lamper - Exposities">
	<!-- <span>Op dit moment zijn er geen exposities...</span> -->

	<div class="mb-6">
		<img
			src="/images/exposities/kuiperspoort.jpeg"
			alt="Poster expositie Kuiperspoort"
			width="300"
			height="300"
		/>
	</div>

	<div class="mb-6">
		Zondag 4 augustus, 13.00 tot 17.00 uur<br />
		Cultuurhuis Kuiperspoort<br />
		Kuiperspoort 18, Middelburg<br />
	</div>

	<div>
		<a href="https://www.cultuurhuis-kuiperspoort.nl/kunstroute-augustus" target="_blank">
			https://www.cultuurhuis-kuiperspoort.nl/kunstroute-augustus
		</a>

		<br />

		<a
			href="https://www.kunstroutemiddelburg.nl/?view=article&id=741:18-het-cultuurhuis-kuiperspoort&catid=98"
			target="_blank"
		>
			https://www.kunstroutemiddelburg.nl/?view=article&id=741:18-het-cultuurhuis-kuiperspoort&catid=98</a
		>
	</div>
</Layout>
