---
import Menu from '../components/Menu.astro'
---

<header class="container mb-9 py-12">
	<div class="flex items-center justify-between gap-6">
		<a href="/" class="text-3xl font-bold text-black">Ton Lamper</a>

		<Menu />
	</div>
</header>
