---
import Menu from './Menu.vue'
---

<header class="container py-12 lg:mb-9">
	<div class="flex items-center justify-between gap-6">
		<a href="/" class="shrink-0 text-3xl font-bold text-black">Ton Lamper</a>

		<Menu client:idle />
	</div>
</header>
