---
import Menu from './Menu.vue'
---

<header class="mb-9 border-b py-9">
	<div class="container flex items-center justify-between gap-6">
		<a href="/" class="shrink-0 text-3xl font-bold text-black no-underline">Ton Lamper</a>

		<Menu client:idle />
	</div>
</header>
