<nav class="flex gap-9 text-black">
    <a href="/">Home</a>
    <a href="/de-kunstenaar">De Kustenaar</a>
    <a href="/biografie">Biografie</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/cursussen">Cursussen</a>
    <a href="/exposities">Exposities</a>
    <a href="/contact">Contact</a>
</nav>

<style>

</style>
