---
import Header from '../components/Header.astro'
import { ViewTransitions } from 'astro:transitions'
import '../../style/base.css'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Ton Lamper is kunstenaar en docent. Zijn grafisch werk is een combinatie van diverse technieken zoals: de lijnets, kleurenets, kartondruk, linoleumsnede en houtsnede."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex h-full flex-col">
		<Header />
		<main class="container flex-grow">
			<slot />
		</main>
		<footer class="mt-12 border-t border-t-gray-300 py-6">
			<div class="container mx-auto text-xs text-black">
				<div class="flex justify-between gap-3">
					<div>
						&copy; {new Date().getFullYear()} Ton Lamper. All rights reserved.
					</div>
					<div class="flex gap-3">
						<a href="https://www.instagram.com/tonlamper" target="_blank">
							<img
								src="/images/social/instagram.svg"
								alt="Instagram"
								class="inline-block h-6 w-6"
							/>
						</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
